.light-bg {
  background: #e5e5e5;
}

.light-bg.light-text {
  background: #aaa;
}

.dark-text {
  color: rgba(0,0,0,0.5);
}

.dark-text .home,.dark-text .main-return,.dark-text .options,.dark-text .title {
  color: rgba(0,0,0,0.3);
}

.dark-text .wunder path {
  fill: rgba(0,0,0,0.3);
}

.dark-text .home:hover,.dark-text .main-return:hover,.dark-text .options:hover {
  color: rgba(0,0,0,0.7);
}

.dark-text .wunder:hover path {
  fill: rgba(0,0,0,0.7);
}

.dark-text #clock {
  stroke: rgba(0,0,0,0.5);
  fill: rgba(0,0,0,0.5);
}

.dark-text #weather .day,.dark-text #weather .now p {
  -webkit-text-stroke: 1px rgba(0,0,0,0.5);
}

.light-text {
  color: rgba(255,255,255,0.8);
}

.light-text .home,.light-text .main-return,.light-text .options,.light-text .title {
  color: rgba(255,255,255,0.8);
}

.light-text .wunder path {
  fill: rgba(255,255,255,0.8);
}

.light-text .home:hover,.light-text .main-return:hover,.light-text .options:hover {
  color: #fff;
}

.light-text .wunder:hover path {
  fill: #fff;
}

.light-text #clock {
  stroke: rgba(255,255,255,0.8);
  fill: rgba(255,255,255,0.8);
}

.light-text #weather .day,.light-text #weather .now p {
  -webkit-text-stroke: 1px rgba(255,255,255,0.8);
}

.dark-bg {
  background: #222426;
}

.dark-bg.dark-text {
  background: #444;
}

.dark-bg.light-text .home,.dark-bg.light-text .main-return,.dark-bg.light-text .options,.dark-bg.light-text .title {
  color: rgba(255,255,255,0.3);
}

.dark-bg.light-text .wunder path {
  fill: rgba(255,255,255,0.3);
}

.dark-bg.light-text .home:hover,.dark-bg.light-text .main-return:hover,.dark-bg.light-text .options:hover {
  color: #fff;
}

.dark-bg.light-text .wunder:hover path {
  fill: #fff;
}

.blue-bg {
  background: #84c0d7;
}

.red-bg {
  background: #903d3d;
}

.orange-bg {
  background: #d2ab59;
}

.green-bg {
  background: #6fb269;
}

.purple-bg {
  background: #6c5287;
}

.aqua-bg {
  background: #3193a5;
}

.mint-bg {
  background: #5cbf94;
}
